@import './variable.scss';

@font-face {
  font-family: "GT-Pressura-Mono";
  src: url('/assets/font/GT-Pressura-Mono-Regular.woff2');
}

* {
  padding: 0;
  margin: 0;
}

::selection {
  background: #8b5cdd;
  color: #fff;
  text-shadow: none;
}

body, html {
  overflow: auto;
  font-family: "GT-Pressura-Mono", Courier, monospace;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

#nprogress .bar {
  background: $primary !important;
  height: 3px !important;
}

.btn {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;

  // font-family: $font-secondary;
  font-size: rem(16px);
  line-height: 1.4;
  text-align: center;

  padding: 29px 54px;

  border: 0;
  border-radius: 0;
  outline: 0;

  background-color: transparent;
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: 0 0;

  // transition: color $trans-speed, background-position $trans-speed, box-shadow $trans-speed;


  &:hover {
    background-position: 0 100%;
  }


  &.-primary,
  .body--white &,
  .body--cloud &,
  .body--shapes &,
  .-split-modal-active & {
    color: $primary;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, $primary 50%, $primary 100%);
    box-shadow: inset 0 0 0 2px rgba($primary, 0.3);

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 2px $primary;
    }

    &:hover {
      color: $white;
    }
  }

  &,
  .body--white & {
    &.-primary-reverse {
      color: $white;
      background-position: 0 100%;

      &:hover,
      &:focus {
        color: $primary;
        background-position: 0 200%;
      }
    }
  }

  &.-nimbus {
    color: $black;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, $black 50%, $black 100%);
    box-shadow: inset 0 0 0 2px rgba($black, 0.3);

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 2px $black;
    }

    &:hover {
      color: $white;
    }
  }

  &.-white,
  .body--primary &,
  .body--dark & {
    color: $white;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, $white 50%, $white 100%);
    box-shadow: inset 0 0 0 2px rgba($white, 0.3);

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 2px $white;
    }

    &:hover {
      color: $primary;
    }
  }

  .body--dark & {
    &:hover {
      color: color(primary-dark);
    }
  }

  &.-fixed-170 {
    width: 170px;
  }

  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }
}

.skip-to-content:focus {
  z-index: 100;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  top: 30px;
  left: 30px;
  display: inline-block;
  color: $white;
  padding: 0 10px;

  .body--white &,
  .body--shapes & {
    color: $black;
  }
}


.text-btn {
  color: #a0a0a0;
  text-transform: lowercase;
  line-height: 1;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  font-size: calc(16 / 18) * 100%;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: 2px;
    height: 1px;
    background: #a0a0a0;
    transform-origin: left;
    transform: scaleX(0.3) translateX(-140%);
    transition: transform 0.3s ease-out;
  }

  &:hover::before {
    transform: none;
  }

  span {
    display: inline-block;
  }

  &--purple {
    @extend .text-btn;
    color: $primary;
    transition: color 0.3s ease-in-out;

    span {
      padding-bottom: 10px;
      border-bottom: 1px solid color(primary-light);
      transition: border-bottom 0.3s ease-in-out;
    }

    &::before {
      background: $primary;
      margin-top: -4px;
    }

    &:hover {
      color: color(primary-light);

      span {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.flip-btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $primary;

  line-height: 1;
  padding-left: 26px;
  text-transform: lowercase;
  padding-bottom: 4px;
  font-size: 13px;

  @media (min-width: 800px) {
    font-size: 16px;
    padding-left: 36px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background: currentColor;
    left: 0;
    width: 20px;
    top: 50%;
    margin-top: -1px;
    transition: transform 0.3s ease-out;
    transform-origin: left;

    @media (min-width: 800px) {
      width: 30px;
    }
  }

  span {
    display: inline-block;
    transition: transform 0.3s ease-out;
  }

  &:hover {
    span {
      transform: translateX(12px);

      @media (min-width: 800px) {
        transform: translateX(18px);
      }
    }

    &::before {
      transform: scaleX(1.333);
    }
  }
}

.flip-btn--white {
  color: $white;
}

.flip-btn--grey {
  color: #a0a0a0;
}

// .flip-btn--auto {
//   @include on-dark {
//     color: $white;
//   }

//   @include on-light {
//     color: $primary;
//   }
// }